{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="card mt-3 mx-auto w-50">
    <div class="card-header">
        <h4 class="text-center">Update Boarding House</h4>
    </div>
    <div class="card-body">
        <form method="post" action="{% url 'update-bh' bh.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="name" class="form-label">Boarding House Name</label>
                <input type="text" class="form-control" id="name" name="name" value="{{bh.name}}" placeholder="ex. John Boarding House"
                       required>
            </div>
            <div class="mb-3">
                <label for="desc" class="form-label">Description</label>
                <input type="text" class="form-control" id="desc" name="description" value="{{bh.description}}"
                       placeholder="Boarding House Description"
                       required>
            </div>
            <div class="mb-3">
                <label for="number" class="form-label">Contact Number</label>
                <input type="number" class="form-control" id="number" name="phone" value="{{bh.phone}}" placeholder="09xxxxxxxxx" required>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location or
                    <button type="button" class="btn btn-sm btn-primary rounded-3" onclick="getLoc()">Get my location</button>
                </label>
                <input type="text" class="form-control" id="location" name="location" value="{{bh.location}}"
                       placeholder="Boarding House Location"
                       required>
            </div>
            <div class="mb-3 d-none">
                <label for="latitude" class="form-label">Latitude</label>
                <input type="text" class="form-control" id="latitude" name="latitude" value="{{bh.latitude}}" placeholder="Latitude" readonly>
            </div>
            <div class="mb-3 d-none">
                <label for="longitude" class="form-label">Longitude</label>
                <input type="text" class="form-control" id="longitude" name="longitude" value="{{bh.longitude}}" placeholder="Longitude"
                       readonly>
            </div>
            <div class="mb-3">
                <label class="form-label">Picture 1:</label>
                {% if bh.picture1 %}
                    <img class="mb-1" src="{{bh.picture1.url}}" alt="..." width="50px">
                {% endif %}
                <input type="file" class="form-control" name="picture1" accept="image/png, image/gif, image/jpeg" multiple required>
            </div>
            <div class="mb-3">
                <label class="form-label">Picture 2:</label>
                {% if bh.picture2 %}
                    <img class="mb-1" src="{{bh.picture2.url}}" alt="..." width="50px">
                {% endif %}
                <input type="file" class="form-control" name="picture2" accept="image/png, image/gif, image/jpeg" multiple required>
            </div>
            <div class="mb-3">
                <label class="form-label">Picture 3:</label>
                {% if bh.picture3 %}
                    <img class="mb-1" src="{{bh.picture3.url}}" alt="..." width="50px">
                {% endif %}
                <input type="file" class="form-control" name="picture3" value="{% if bh.picture1 %}{{bh.picture1.url}}{% else %}{% static 'image/avatar.png' %}{% endif %}" accept="image/png, image/gif, image/jpeg" multiple required>
            </div>

            <div class="d-grid mx-2">
                <button class="btn btn-primary" type="submit">UPDATE BOARDING HOUSE</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
