{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-between my-3">
    <div class="col-5">
        <div class="mb-3 row mx-1">
            <label class="col-2 col-form-label fw-bold" for="searchInput">SEARCH:</label>
            <div class="col-10">
                <input type="search" class="form-control" id="searchInput">
            </div>
        </div>

        <ul class="list-group mt-2 overflow-auto" style="max-height: 75vh" id="searchValue">
            {% for bh in boarding_houses %}
            {% if bh.admin_approval %}
            <li class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h4 class="mb-1">{{bh.name}}</h4>
                    <small class="text-muted">{{bh.updated|timesince}} ago</small>
                </div>
                <p class="mb-1">{{bh.description}}</p>
                <div class="d-flex w-100 justify-content-between">
                    <small class="text-muted mt-2">{{bh.location}}</small>
                    <a href="{% url 'bh-detail' bh.id %}" class="btn btn-sm btn-primary">View Detail</a>
                </div>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div class="col-7">
        <div class="ms-4">
            <h5 class="ms-2 my-2 fw-bold">
                BOARDING HOUSE MAP
                <a href="{% url 'add-bh' %}" class="btn btn-primary float-end mb-2">
                    ADD <i class="fa-solid fa-house-chimney-medical"></i>
                </a>
            </h5>
            <div id="map" style="height: 480px; width: 100%;"></div>
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
  $("#searchInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#searchValue li").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});

</script>

{% endblock %}