{% extends 'base.html' %}
{% block content %}
{% load static %}

{% for msg in messages %}

<div class="toast-container position-fixed end-0 p-1">
    <div id="liveToast" class="toast-body text-bg-info p-3 rounded-2">
        {{msg}}
    </div>
</div>

{% endfor %}

<h3 class="mt-4 text-center fw-bold">MY BOARDING HOUSE</h3>

<div class="row g-1">
    {% for bh in boarding_houses %}
    {% if bh.owner == request.user %}
    <div class="col-md-4 col-sm-6 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <div id="carouselExampleControls{{forloop.counter}}" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% if bh.picture1 %}{{bh.picture1.url}}{% else %}{% static 'image/bh-default.png' %}{% endif %}"
                             class="card-img-top img-fluid rounded" style="height: 18rem" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{% if bh.picture2 %}{{bh.picture2.url}}{% else %}{% static 'image/bh-default.png' %}{% endif %}"
                             class="card-img-top img-fluid rounded" style="height: 18rem" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{% if bh.picture3 %}{{bh.picture3.url}}{% else %}{% static 'image/bh-default.png' %}{% endif %}"
                             class="card-img-top img-fluid rounded" style="height: 18rem" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button"
                        data-bs-target="#carouselExampleControls{{forloop.counter}}"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button"
                        data-bs-target="#carouselExampleControls{{forloop.counter}}"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div class="card-body">
                <h5 class="card-title text-center fw-bold">{{bh.name}}</h5>
                <p class="card-text">Description: {{bh.description}}</p>
                <p class="card-text">Status:
                    <span class="fw-bold">
                        {% if bh.admin_approval %}
                        APPROVED!
                        {% else %}
                        Waiting for approval
                        {% endif %}
                    </span>
                </p>
                <div class="text-center">
                    <a href="{% url 'edit-bh' bh.id %}" class="btn btn-sm btn-primary mx-1 {% if bh.admin_approval%}disabled{% endif %}">EDIT</a>
                    <button type="button" class="btn btn-sm btn-danger mx-1" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop">DELETE
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Delete Boarding House</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Do you want to delete {{bh.name}}?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <a href="{% url 'delete-bh' bh.id %}" class="btn btn-sm btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>


    {% endif %}
    {% endfor %}
</div>
{% endblock %}