{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="d-flex justify-content-center mt-5">

    <div>
        <div class="card py-1" style="width: 23rem;">
            <div class="card mt-1 mx-1">
                <h4 class="card-header text-center">REGISTER</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{form.as_p}}

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
            <div class="text-muted text-center">
                <text class="mx-auto">Have an account? <a class="text-decoration-none"
                                                          href="{% url 'login' %}">Login</a>
                </text>
            </div>
        </div>
    </div>
</div>

{% endblock %}